[Ll]ibrary/
[Tt]emp/
obj/
Build/
Build.zip

.vs/
*.csproj
*.sln

.idea/

### Facebook SDK
#Assets/FacebookSDK/
#Assets/FacebookSDK.meta
#Assets/PlayServicesResolver/
#Assets/PlayServicesResolver.meta
!Unity/Assets/FacebookSDK/*/*/*.dll
!Unity/Assets/FacebookSDK/*/*.dll