[Ll]ibrary/
[Tt]emp/
obj/
Build/
Build.zip

.vs/
*.csproj
*.sln
*.ldb			# Enterptrise Architect temp file

.idea/

# database config for the PHP webservice
private/config.ini

### Facebook SDK
#Assets/FacebookSDK/
#Assets/FacebookSDK.meta
#Assets/PlayServicesResolver/
#Assets/PlayServicesResolver.meta
!TappyPotato/Assets/FacebookSDK/*/*/*.dll
!TappyPotato/Assets/FacebookSDK/*/*.dll

### JetBrains Tools

JetBrains.*
JetBrains/